@import "../../_shared/styles/base_styles";

@bg-color: #555555;
@dim-color: #ff7133;
@fg-color: #fff;



body {
  background-color: @bg-color;
}

a {
  color: @dim-color;
  text-decoration: underline;
}

