@import "../../_shared/styles/base_styles";

.search-form {
  overflow: hidden;
  padding: 20px;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;

  &.not-used {
    padding-top: 150px;
  }
}

