@sidebar-content-overlay-color: rgba(0,0,0,0.7);
@sidebar-toggle-color: #777;
@sidebar-toggle-color-active: #FF7E00;
@sidebar-background-color: rgb(65, 65, 65);
@sidebar-link-color: #bbb;
@sidebar-link-color-active: @sidebar-toggle-color-active;

.sidebar-wrapper {
  position: absolute;
  position: fixed;
  width: 0;
  height: 100%;
  top:0;
  bottom:0;
  background-color: @sidebar-content-overlay-color;
  z-index: 999;

  transition: 0.1s all ease;

  .sidebar {
    top:0;
    bottom:0;
  }

  .sidebar-close-trigger {
    width: 0;
    height: 0;
  }

  &.open {
    width: 100%;

    .sidebar-close-trigger {
      width: 100%;
      height: 100%;
    }
  }

  &.left {

    left: 0;

    .sidebar {
      left: -200px;
    }

    &.open {
      .sidebar {
        left: 0;
      }
    }
  }

  &.right {

    right: 0;

    .sidebar {
      right: -200px;
    }
    &.open {
      .sidebar {
        right: 0;
      }
    }
  }

}



.sidebar {
  position: absolute;
  position: fixed;
  width: 200px;
  height: 100%;
  background: @sidebar-background-color;
  box-shadow: 4px 0 7px rgba(0, 0, 0, 0.3);
  border-left: 1px solid darken(@sidebar-background-color,5%);
  border-right: 1px solid darken(@sidebar-background-color,5%);

  transition: 0.2s all ease-out;

  .sidebar-toggle {
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: block;
    border-radius: 50%;
    border: 2px solid @sidebar-toggle-color;

    .bar {
      width: 24px;
      height: 2px;
      background-color: @sidebar-toggle-color;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -12px;
      transition: all 0.3s;

      &.bar-01 {
        top: 35%;
      }
      &.bar-02 {}
      &.bar-03 {
        top: 65%;
      }
    }
  }

  &.open .sidebar-toggle {
    border-color: @sidebar-toggle-color-active;
    .bar {
      background-color: @sidebar-toggle-color-active;
    }

    .bar-01, .bar-03 {
      top: 50%;
      transform: rotate(-45deg);
    }
    .bar-02 {
      transform: rotate(45deg);
    }
  }

  &.left {
    .sidebar-toggle {
      right: -65px;
    }
  }

  &.right {
    .sidebar-toggle {
      left: -65px;
    }
  }
}



.sidebar-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sidebar-brand {
  padding: 15px 20px;

  a {
    display: block;
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
    }
  }
}

.sidebar-separator {
  display: block;
  height: 2px;
  width: 100%;
  background: darken(@sidebar-background-color,5%);
  border-top: 1px solid lighten(@sidebar-background-color,5%);
  margin: 10px 0;
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: block;

      a {
        display: block;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 16px;
        color: @sidebar-link-color;
        text-transform: none;
        text-decoration: none;
        border:1px solid transparent;

        &:hover,
        &:focus {
          text-transform: none;
          text-decoration: none;
          color: @sidebar-link-color-active;
          background-color: darken(@sidebar-background-color,5%);
          border-top-color: darken(@sidebar-background-color,8%);
          border-bottom-color: lighten(@sidebar-background-color,5%);
        }
      }

      &.active a {
        color: @sidebar-link-color;
        background-color: darken(@sidebar-background-color,5%);
        border-top-color: darken(@sidebar-background-color,8%);
        border-bottom-color: lighten(@sidebar-background-color,5%);
      }


    }
  }
}