.sidebar-wrapper {
  position: absolute;
  position: fixed;
  width: 0;
  height: 100%;
  top:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  transition: 0.1s all ease;

  .sidebar {
    top:0;
    bottom:0;
  }

  .sidebar-close-trigger {
    width: 0;
    height: 0;
  }

  &.open {
    width: 100%;

    .sidebar-close-trigger {
      width: 100%;
      height: 100%;
    }
  }

  &.left {

    left: 0;

    .sidebar {
      left: -200px;
    }

    &.open {
      .sidebar {
        left: 0;
      }
    }
  }

  &.right {

    right: 0;

    .sidebar {
      right: -200px;
    }
    &.open {
      .sidebar {
        right: 0;
      }
    }
  }

}



.sidebar {
  position: absolute;
  position: fixed;
  width: 200px;
  height: 100%;
  background: rgb(65, 65, 65);
  box-shadow: 4px 0 7px rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgb(53, 53, 53);
  transition: 0.2s all ease-out;

  .sidebar-toggle {
    position: absolute;
    top: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: block;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);

    .bar {
      width: 30px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.8);
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -15px;
      transition: all 0.3s;

      &.bar-01 {
        top: 30%;
        width: 24px;
        margin-left: -12px;
      }
      &.bar-02 {}
      &.bar-03 {
        top: 70%;
        width: 24px;
        margin-left: -12px;
      }
    }
  }

  &.open .sidebar-toggle {
    .bar-01, .bar-03 {
      top: 50%;
      width: 30px;
      margin-left: -15px;
      transform: rotate(-45deg);
    }
    .bar-02 {
      transform: rotate(45deg);
    }
  }

  &.left {
    .sidebar-toggle {
      right: -70px;
    }
  }

  &.right {
    .sidebar-toggle {
      left: -70px;
    }
  }
}



.sidebar-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sidebar-brand {
  padding: 20px;

  a {
    display: block;
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
    }
  }
}

.sidebar-separator {
  display: block;
  height: 2px;
  width: 100%;
  background: rgb(56, 56, 56);
  border-top: 1px solid rgb(75, 75, 75);
  margin: 10px 0;
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: block;

      a {
        display: block;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 16px;
        color: #BBB;
        text-transform: none;
        text-decoration: none;
        border:1px solid transparent;

        &:hover,
        &:focus {
          text-transform: none;
          text-decoration: none;
          color: #DDD;
          background-color: rgb(56, 56, 56);
          border-top-color: rgb(49, 49, 49);
          border-bottom-color: rgb(75, 75, 75);
        }
      }

      &.active a {
        background-color: rgb(56, 56, 56);
        border-top-color: rgb(49, 49, 49);
        border-bottom-color: rgb(75, 75, 75);
      }


    }
  }
}