body {
}

.header-links {
  display: none;
}

.container-padded {
  padding-left: @grid-gutter-width;
  padding-right: @grid-gutter-width;
}

@media (min-width: @screen-sm-min) {

  .header-links {
    display: block;
  }

  .container-padded {
    padding-left: @grid-gutter-width * 2;
    padding-right: @grid-gutter-width * 2;
  }

//  .sidebar {
//    &.left {
//      left:0;
//    }
//
//    &.right {
//      right:0;
//    }
//
//    .sidebar-toggle {
//      display: none;
//    }
//  }

//  .page {
//    margin-left: 200px;
//    padding-left: 15px;
//    padding-right: 15px;
//  }
}
@media (min-width: @screen-md-min) {

}
@media (min-width: @screen-lg-min) {

}




.banner {}