<div class="container-fluid container-padded">

    <div class="page-header">
        <h1>{{ playlist.title || 'Playlist view' }}
            <button ng-if="playlist" class="btn btn-default pull-right" ui-sref="^.edit({id:playlist._id})">Edit</button>
        </h1>
    </div>

    <p ng-if="loadingMessage" class="alert alert-warning">{{loadingMessage}}</p>

    <p class="lead" ng-if="playlist && playlist.description">{{playlist.description}}</p>

    <div ng-if="playlist" class="video-results-wrapper row">

        <!-- video directive if video set -->
        <div ng-if="videoId" class="video-preview col-sm-6">
            <youtube-player
                    videoid="videoId"
                    on-next-load-video-id="loadNextId(currentId)"
                    on-previous-load-video-id="loadPreviousId(currentId)"
                    minheight="'400px'"
                    playerorigin="'http://localhost:9000'" />
        </div>

        <!-- collection of result items -->
        <div class="video-results" ng-class="videoId ? 'col-sm-6' : 'col-sm-12'">

            <div ng-if="playlist.videos && playlist.videos.length">
                <div class="row" ng-repeat="(itemIdx,item) in playlist.videos" ng-if="itemIdx % 4 == 0">
                    <div ng-class="videoId ? 'col-sm-12' : 'col-sm-3'" ng-repeat="elIdx in [0,1,2,3]" ng-if="playlist.videos[itemIdx+elIdx]">
                        <result-small
                                is-active="videoId === playlist.videos[itemIdx+elIdx].id"
                                is-grid-item="videoId == null"
                                image-url="playlist.videos[itemIdx+elIdx].imageUrl"
                                on-image-click="showYoutubeVideo(playlist.videos[itemIdx+elIdx].id)"
                                title="playlist.videos[itemIdx+elIdx].title"
                                on-title-click="showYoutubeVideo(playlist.videos[itemIdx+elIdx].id)"
                                status="playlist.videos[itemIdx+elIdx].isApproved ? 'approved' : playlist.videos[itemIdx+elIdx].isSkipped ? 'skipped' : playlist.videos[itemIdx+elIdx].isPending ? 'pending' : '' "
                                actions="{
                                    'Play':'showYoutubeVideo(playlist.videos[itemIdx+elIdx].id)',
                                    'Remove':'removeFromPlaylist(itemIdx+elIdx)'
                                }"
                            ></result-small>
                    </div>
                </div>
            </div>
            <div ng-if="!playlist.videos || !playlist.videos.length">
                No videos found
            </div>

        </div>
    </div>

</div>
