<div class="container-fluid container-padded">

    <h1>Create playlist</h1>

    <hr>

    <div class="row">

        <form name="playlistform"
              novalidate
              rc-submit="save()"
              class="col-sm-6"
            >

            <div class="form-group"
                 ng-class="{'has-error': rc.playlistform.needsAttention(playlistform.title) && rc.playlistform.attempted, 'has-warning':rc.playlistform.needsAttention(playlistform.title) && !rc.playlistform.attempted }"
            >
                <label for="title">Title</label>
                <input type="text" required ng-model="playlist.title" class="form-control" id="title" name="title" placeholder="eg: Dora explorer colection" >
                <span class="help-block" ng-show="rc.playlistform.needsAttention(playlistform.title) && rc.playlistform.attempted">
                    Please provide valid title
                </span>
            </div>

            <div class="form-group"
                 ng-class="{'has-error': rc.playlistform.needsAttention(playlistform.description) && rc.playlistform.attempted, 'has-warning':rc.playlistform.needsAttention(playlistform.description) && !rc.playlistform.attempted }"
                    >
                <label for="description">Description</label>
                <textarea rows="5"
                          ng-model="playlist.description"
                          class="form-control"
                          id="description"
                          name="description"
                          placeholder="Optional description"
                        >
                </textarea>
                <span class="help-block" ng-show="rc.playlistform.needsAttention(playlistform.description) && rc.playlistform.attempted">
                    Please add some meaningful text
                </span>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="playlist.isPublic">
                    Will it be available publicly
                </label>
            </div>

            <p class="alert alert-danger" ng-if="rc.playlistform.attempted && !playlistform.$pristine && !playlistform.$valid">
                Form contains errors
            </p>

            <p ng-if="formErrors && formErrors.length" ng-repeat="err in formErrors" class="alert alert-danger">
                <span class="close" ng-click="formErrors.splice($index,1)">&times;</span>
                {{err}}
            </p>

            <button type="submit" class="btn btn-default" value="Send" title="Send" ng-disabled="submittingData" >
                <span>Save</span>
            </button>

        </form>

        <div class="col-sm-6">

            <h3>Creating playlists</h3>
            <p>After creating playlist you will be able to add videos to it from video search facility.</p>
            <p>Make sure to check it as public if you plan to share it</p>

        </div>

    </div>


</div>
