<div class="search-form text-center">
    <form class="form-inline" ng-submit="search()">
        <legend><span class="circled-icon"><span class="glyphicon glyphicon-search"></span></span> Search</legend>
        <div class="form-group form-group-main">
            <input type="text" class="form-control" name="search_term" ng-model="params.search_term" value="{{params.search_term}}" placeholder="Search... eg. dora explorer">
        </div>
        <div class="advanced-controls" ng-class="{active:isAdvancedVisible}">
            <div class="form-group">
                <select class="form-control" ng-model="params.type" ng-options="type as obj.name for (type,obj) in types"></select>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-default search-options-button" ng-click="toggleAdvanced()">
                <span class="glyphicon glyphicon-cog"></span><span class="sr-only">Options</span>
            </button><button type="submit" class="btn btn-primary search-button">
                <span class="glyphicon glyphicon-search"></span><span class="sr-only">Search</span>
            </button>
        </div>
    </form>
</div>


