<div class="container-fluid container-padded">

  <div class="row">

    <div class="col-sm-12">

      <section class="page-content">

        <header class="page-content-title">
          <h1>
            <span class="circled-icon title-icon"><span class="glyphicon glyphicon-list"></span></span>
            {{result.title}}
          </h1>
        </header>

        <nav class="page-search">



        </nav>

      </section>



      <div ng-if="loadingMessage" loader message="loadingMessage"></div>

      <div ng-if="result && results.length">

        <div class="row" ng-repeat="(itemIdx,item) in results" ng-if="itemIdx % 4 == 0">

          <div class="col-sm-3" ng-repeat="elIdx in [0,1,2,3]" ng-if="results[itemIdx+elIdx]">

            <result-small
              image-urls="[results[itemIdx+elIdx].videos[0].imageUrl,results[itemIdx+elIdx].videos[1].imageUrl]"
              display-name="results[itemIdx+elIdx].title"
              image-badge="results[itemIdx+elIdx].videos.length + ' videos'"
              status="results[itemIdx+elIdx].isApproved ? 'approved' : results[itemIdx+elIdx].isSkipped ? 'skipped' : results[itemIdx+elIdx].isPending ? 'pending' : '' "
              actions="{
                  'Play' : '',
                  'Share' : '',
                  'Open' : '',
                  'Clone' : '',
                  'Follow' : '',
              }"
              ></result-small>

          </div>

        </div>
      </div>

      <div ng-if="result != null && !result.videos.length" class="alert alert-warning">No videos</div>


      <ul class="pager pager-branded" ng-if="results.activityStream.links.prev || results.activityStream.links.next">
        <li ng-if="results.activityStream.links.prev">
          <a class="btn btn-default" ng-click="prev()">
            <span class="sr-only">Previous page</span>
            <span class="icon-left-open"></span>
          </a>
        </li>
        <li ng-if="results.activityStream.links.next">
          <a class="btn btn-default" ng-click="next()">
            <span class="icon-right-open"></span>
          </a>
        </li>
      </ul>

    </div>

  </div>

</div>
