<div class="" ui-view autoscroll="false" id="">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">


                <nav class="home-links">
                    <ul>
                        <li><a tabindex="1" ui-sref="search.landing">
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="sr-only">Search</span>
                        </a></li>
                        <li><a tabindex="1" ui-sref="playlists.landing">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="sr-only">Browse</span>
                        </a></li>
                        <li><a tabindex="1" ui-sref="personal.landing">
                            <span class="glyphicon glyphicon-list"></span>
                            <span class="sr-only">Your videos</span>
                        </a></li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>

</div>
