<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Admin home</h1>

            <div class="stats-bubble">
                <div class="stats-value">{{ videosTotal }}</div>
                <div class="stats-type">
                    <span class="stats-type-bubble-right">
                        <span class="icon-youtube-play"></span>
                    </span>
                </div>
                <p class="stats-title">Total videos</p>
            </div>

            <div class="stats-bubble">
                <div class="stats-value">{{ videosApproved }}</div>
                <div class="stats-type">
                    <span class="stats-type-bubble-left">
                        <span class="icon-ok"></span>
                    </span>
                    <span class="stats-type-bubble-right">
                        <span class="icon-youtube-play"></span>
                    </span>
                </div>
                <p class="stats-title">Approved videos</p>
            </div>

            <div class="stats-bubble">
                <div class="stats-value">{{ videosPending }}</div>
                <div class="stats-type">
                    <span class="stats-type-bubble-left">
                        <span class="icon-help"></span>
                    </span>
                    <span class="stats-type-bubble-right">
                        <span class="icon-youtube-play"></span>
                    </span>
                </div>
                <p class="stats-title">Pending videos</p>
            </div>

            <div class="stats-bubble">
                <div class="stats-value">{{ videosSkipped }}</div>
                <div class="stats-type">
                    <span class="stats-type-bubble-left">
                        <span class="icon-attention"></span>
                    </span>
                    <span class="stats-type-bubble-right">
                        <span class="icon-youtube-play"></span>
                    </span>
                </div>
                <p class="stats-title">Skipped videos</p>
            </div>


            <div class="stats-bubble">
                <div class="stats-value">{{ playlistsTotal }}</div>
                <div class="stats-type">
                    <span class="stats-type-bubble-right">
                        <span class="icon-th"></span>
                    </span>
                </div>
                <p class="stats-title">Total playlists</p>
            </div>
            <div class="stats-bubble">
                <div class="stats-value">{{ playlistsPublic }}</div>
                <div class="stats-type">
                    <span class="stats-type-bubble-right">
                        <span class="icon-th"></span>
                    </span>
                </div>
                <p class="stats-title">Public playlists</p>
            </div>
            <div class="stats-bubble">
                <div class="stats-value">{{ playlistsApproved }}</div>
                <div class="stats-type">
                    <span class="stats-type-bubble-left">
                        <span class="icon-ok"></span>
                    </span>
                    <span class="stats-type-bubble-right">
                        <span class="icon-th"></span>
                    </span>
                </div>
                <p class="stats-title">Approved playlists</p>
            </div>

            <div class="stats-bubble">
                <div class="stats-value">{{ playlistsPending }}</div>
                <div class="stats-type">
                    <span class="stats-type-bubble-left">
                        <span class="icon-help"></span>
                    </span>
                    <span class="stats-type-bubble-right">
                        <span class="icon-th"></span>
                    </span>
                </div>
                <p class="stats-title">Pending playlists</p>
            </div>

            <div class="stats-bubble">
                <div class="stats-value">{{ playlistsSkipped }}</div>
                <div class="stats-type">
                    <span class="stats-type-bubble-left">
                        <span class="icon-attention"></span>
                    </span>
                    <span class="stats-type-bubble-right">
                        <span class="icon-th"></span>
                    </span>
                </div>
                <p class="stats-title">Skipped playlists</p>
            </div>
        </div>
    </div>
</div>



