<div class="container">

    <div class="page-header">
        <h1>Playlists
            <button class="btn btn-default pull-right" ui-sref="^.create">New Playlist</button>
        </h1>
    </div>


    <div class="row">
        <div class="col-sm-3">

            <form class="form" ng-submit="search()">

                <div class="form-group">
                    <label for="query">Title filter</label>
                    <input type="text" class="form-control" name="query" id="query" ng-model="searchOptions.query"
                           value="{{searchOptions.query}}"
                           placeholder="eg. playlist title">
                </div>

                <div class="form-group">
                    <label for="sort">Sort by</label>
                    <select class="form-control" name="sort" id="sort" ng-model="searchOptions.sort"
                            ng-options="s.value as s.name for s in availableSorts"></select>
                </div>

                <div class="form-group">
                    <label for="order">Order</label>
                    <select class="form-control" name="order" id="order" ng-model="searchOptions.order"
                            ng-options="s.value as s.name for s in availableOrders"></select>
                </div>


                <div class="form-group">
                    <label for="isPublic" class="sr-only">Is public?</label>
                    <select class="form-control" name="isPublic" id="isPublic" ng-model="searchOptions.isPublic"
                            ng-options="s.value as s.name for s in availablePublicStates">
                        <option value="">-- Is public? --</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="isApproved" class="sr-only">Is approved?</label>
                    <select class="form-control" name="isApproved" id="isApproved" ng-model="searchOptions.isApproved"
                            ng-options="s.value as s.name for s in availableApprovedStates">
                        <option value="">-- Is approved? --</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="isSkipped" class="sr-only">Is skipped?</label>
                    <select class="form-control" name="isSkipped" id="isSkipped" ng-model="searchOptions.isSkipped"
                            ng-options="s.value as s.name for s in availableSkippedStates">
                        <option value="">-- Is skipped? --</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="isPending" class="sr-only">Is pending?</label>
                    <select class="form-control" name="isPending" id="isPending" ng-model="searchOptions.isPending"
                            ng-options="s.value as s.name for s in availablePendingStates">
                        <option value="">-- Is pending? --</option>
                    </select>
                </div>


                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="searchOptions.user"> Only my playlists
                    </label>
                </div>

                <button type="submit" class="btn btn-primary btn-block" type="button">Filter</button>

            </form>

        </div> <!-- END SIDEBAR -->



        <div class="col-sm-9">

            <div ng-if="results == null" class="alert alert-info">Search for something</div>
            <div ng-if="results != null && results.items && !results.items.length" class="alert alert-warning">Nothing found
            </div>
            <div ng-if="loadingMessage" class="alert alert-warning">{{loadingMessage}}</div>

            <div ng-if="results && results.items">

                <div ng-repeat="(itemIdx,item) in results.items">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span ui-sref="^.show({id:item._id})">{{ item.title }}</span>
                                <small>{{item.isPublic ? 'Public' : 'Private'}}</small>

                                <div class="dropdown pull-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="^.show({id:item._id})">Show</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="^.edit({id:item._id})">Edit</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Share</a></li>
                                    </ul>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div ng-if="!item.videos || !item.videos.length" >No videos</div>
                            <div ng-if="item.videos.length" >{{item.videos.length}} videos</div>
                        </div>
                    </div>


                </div>

            </div>

        </div> <!-- END MAIN PANE -->
    </div>

</div>
